{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All Tasks

{% endblock %}


{% block content %}

    <h1>Tasks</h1>


    <article>

        <ul>
            {% for task in tasks %}

            

                <li class="task">

                    {{ task.name }} 

                    {{ task.priority }} 

                    {% if task.complete %} 
                        <a href="completeT/{{task.id}}"> 🗹  </a>
                       
                    {% else %} 
                         <a href="incompleteT/{{task.id}}"> ☐  </a>
                    {% endif %}

                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Add a New Task</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of task"
                required
            >

            <input
                type="number" 
                name="priority"
                min="0"
                max="10"
                placeholder="Prioity of task"
                required
            >

            <button>Add the Task</button>

        </form>

    </article>

{% endblock %}

